---
import TerminalCommand from "@components/TerminalCommand.astro";
import TerminalDictionary from "@components/TerminalDictionary.astro";
import TerminalHeading from "@components/TerminalHeading.astro";
import TerminalList from "@components/TerminalList.astro";
import TerminalTable from "@components/TerminalTable.astro";
import TerminalText from "@components/TerminalText.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "About";
---

<BaseLayout title={title}>
    <div class="terminal-page terminal-subpage">
        <section
            class="terminal-section first-section"
            aria-labelledby="about-title"
        >
            <TerminalCommand command="cd about" />
            <TerminalCommand command="echo $ABOUT" path="about" />
            <TerminalHeading id="about-title" text="About" size="Small" />

            <article class="about-copy">
                <TerminalText src="abouttext" />
            </article>

            <div class="terminal-list">
                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="cat profile.yaml" />
                    <TerminalDictionary src="profile" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="cat skills.yaml" />
                    <TerminalTable src="skills" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="" />
                    <TerminalDictionary src="education-current" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="" />
                    <TerminalDictionary src="education-previous" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="" />
                    <TerminalDictionary src="cobra-software" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="" />
                    <TerminalDictionary src="klixar-it" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="cat languages.yaml" />
                    <TerminalList src="languages" />
                </article>

                <article class="terminal-entry">
                    <TerminalCommand path="/about" command="cat hobbies.yaml" />
                    <TerminalList src="hobbies" />
                </article>
            </div>
        </section>
    </div>
</BaseLayout>
