---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ComponentHeader from "@/components/HeaderComponent.astro";
import ComponentFooter from "@/components/FooterComponent.astro";

<script src="https://unpkg.com/htmx.org@1"></script>;
---

<BaseLayout>
    <ComponentHeader />
    <p>Content</p>
    <ComponentFooter />
</BaseLayout>
