---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ComponentHeader from "@/components/HeaderComponent.astro";
import ComponentFooter from "@/components/FooterComponent.astro";
---

<BaseLayout>
    <ComponentHeader />
    <p>Content</p>
    <ComponentFooter />
</BaseLayout>
