---
import TerminalCommand from "@components/TerminalCommand.astro";
import TerminalHeading from "@components/TerminalHeading.astro";
import TerminalProject from "@components/TerminalProject.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getProjects } from "@/utils/content";

const title = "Projects";
const projects = await getProjects();
---

<BaseLayout title={title}>
    <div class="terminal-page terminal-subpage">
        <section
            class="terminal-section first-section"
            aria-labelledby="projects-title"
        >
            <TerminalCommand command="cd projects" />
            <TerminalCommand command="echo $PROJECTS" path="projects" />
            <TerminalHeading id="projects-title" text="projects" size="Small" />

            <div class="terminal-list">
                {
                    projects.map((entry) => (
                        <article class="terminal-entry">
                            <TerminalCommand
                                path="/projects"
                                command={entry.command ?? "cat projects.yaml"}
                            />
                            <TerminalProject project={entry} />
                        </article>
                    ))
                }
            </div>
        </section>
    </div>
</BaseLayout>
