---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ComponentHeader from "@/components/HeaderComponentTest.astro";
import ComponentFooter from "@/components/FooterComponent.astro";

const title = "Test";
---

<BaseLayout title={title}>
    <ComponentHeader title={title} />
    <img src="/assets/Banner.JPG" />
    <p>Test</p>
    <ComponentFooter />
</BaseLayout>
