---

---

<footer
    class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10"
>
    <nav>
        <h6 class="footer-title">Dienstleistungen</h6>
        <a class="link link-hover">Informatik</a>
        <a class="link link-hover">DnD</a>
        <a class="link link-hover">Nerding</a>
        <a class="link link-hover">Shitposting</a>
    </nav>
    <nav>
        <h6 class="footer-title">Individum</h6>
        <a class="link link-hover">Über mich</a>
        <a class="link link-hover">Kontakt</a>
        <a class="link link-hover">Freunde</a>
    </nav>
    <nav>
        <h6 class="footer-title">Für Arschlöcher</h6>
        <a class="link link-hover">Do's and Don'ts</a>
        <a class="link link-hover">Was ich über dich weiss!</a>
        <a class="link link-hover">Organ Harvesting</a>
    </nav>
</footer>
