---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<header>
    <div class="bg-base-200 w-full rounded-md shadow-sm max-lg:collapse">
        <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
        <div class="collapse-title navbar">
            <div class="navbar-start">
                <button class="btn btn-ghost text-xl">
                    <a href="/">Personal Website: {title}</a>
                </button>
            </div>
            <div class="navbar-center lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <div
                            @mouseenter="clearTimeout(timeout); open = true"
                            @mouseleave="timeout = setTimeout(() => open = false, 100)"
                            x-data="{ open: false, timeout: null }"
                            class="group relative flex w-40 justify-center text-center"
                        >
                            <a
                                href="/inforamtik"
                                class="w-full rounded-md bg-blue-500 px-4 py-2 text-white shadow"
                            >
                                Inforamtik
                            </a>
                            <div
                                @mouseenter="clearTimeout(timeout); open = true"
                                @mouseleave="timeout = setTimeout(() => open = false, 100)"
                                x-show="open"
                                class="absolute top-full left-1/2 mt-2 -translate-x-1/2 rounded-md bg-white shadow-lg"
                            >
                                <a
                                    href="/inforamtik/interessen"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Interessen
                                </a>
                                <a
                                    href="/inforamtik/kenntnisse"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Kenntnisse
                                </a>
                                <a
                                    href="/inforamtik/projekte"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Projekte
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            @mouseenter="clearTimeout(timeout); open = true"
                            @mouseleave="timeout = setTimeout(() => open = false, 100)"
                            x-data="{ open: false, timeout: null }"
                            class="group relative flex w-40 justify-center text-center"
                        >
                            <a
                                href="/worldbuilding"
                                class="w-full rounded-md bg-blue-500 px-4 py-2 text-white shadow"
                            >
                                Worldbuilding
                            </a>
                            <div
                                @mouseenter="clearTimeout(timeout); open = true"
                                @mouseleave="timeout = setTimeout(() => open = false, 100)"
                                x-show="open"
                                class="absolute top-full left-1/2 mt-2 -translate-x-1/2 rounded-md bg-white shadow-lg"
                            >
                                <a
                                    href="/worldbuilding/anomaly"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Anomaly
                                </a>
                                <a
                                    href="/worldbuilding/settings"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Settings
                                </a>
                                <a
                                    href="/worldbuilding/storys"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Storys
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            @mouseenter="clearTimeout(timeout); open = true"
                            @mouseleave="timeout = setTimeout(() => open = false, 100)"
                            x-data="{ open: false, timeout: null }"
                            class="group relative flex w-40 justify-center text-center"
                        >
                            <a
                                href="/games"
                                class="w-full rounded-md bg-blue-500 px-4 py-2 text-white shadow"
                            >
                                Games
                            </a>
                            <div
                                @mouseenter="clearTimeout(timeout); open = true"
                                @mouseleave="timeout = setTimeout(() => open = false, 100)"
                                x-show="open"
                                class="absolute top-full left-1/2 mt-2 -translate-x-1/2 rounded-md bg-white shadow-lg"
                            >
                                <a
                                    href="/games/warframe"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Warframe
                                </a>
                                <a
                                    href="/games/satisfactory"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Satisfactory
                                </a>
                                <a
                                    href="/games/factorio"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Factorio
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            @mouseenter="clearTimeout(timeout); open = true"
                            @mouseleave="timeout = setTimeout(() => open = false, 100)"
                            x-data="{ open: false, timeout: null }"
                            class="group relative flex w-40 justify-center text-center"
                        >
                            <a
                                href="/dnd"
                                class="w-full rounded-md bg-blue-500 px-4 py-2 text-white shadow"
                            >
                                DND
                            </a>
                            <div
                                @mouseenter="clearTimeout(timeout); open = true"
                                @mouseleave="timeout = setTimeout(() => open = false, 100)"
                                x-show="open"
                                class="absolute top-full left-1/2 mt-2 -translate-x-1/2 rounded-md bg-white shadow-lg"
                            >
                                <a
                                    href="/dnd/campaigns"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Campaigns
                                </a>
                                <a
                                    href="/dnd/third-party-content"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Third Party Conetet
                                </a>
                                <a
                                    href="/worldbuilding/surviving-dice"
                                    class="block px-4 py-2 text-gray-800 first:rounded-t-md last:rounded-b-md hover:bg-gray-200"
                                >
                                    Surviving Dice
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-end">
                <input
                    type="text"
                    placeholder="Search"
                    class="input input-bordered w-64 lg:w-auto"
                />
            </div>
        </div>
    </div>
</header>
