---
import { getTableContent } from "@/utils/content";

interface Props {
    src: string;
}

const { src } = Astro.props;
const { columns, rows } = await getTableContent(src);
---

<div class="terminal-table-wrap">
    <table class="terminal-table">
        <thead class="terminal-table-head">
            <tr class="terminal-table-row">
                {
                    columns.map((column) => (
                        <th class="terminal-table-cell" scope="col">
                            {column.label}
                        </th>
                    ))
                }
            </tr>
        </thead>
        <tbody>
            {
                rows.map((row) => (
                    <tr class="terminal-table-row">
                        {columns.map((column) => (
                            <td class="terminal-table-cell">
                                {row[column.key]}
                            </td>
                        ))}
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
