---
import { getListContent } from "@/utils/content";
import TerminalValue from "@components/TerminalValue.astro";

interface Props {
    src: string;
}

const { src } = Astro.props;
const items = await getListContent(src);
---

<ul class="terminal-output-list">
    {
        items.map((item) => (
            <li>
                <TerminalValue
                    value={item.value}
                    attributes={item.attributes}
                />
            </li>
        ))
    }
</ul>
