---
import type { HTMLAttributes } from "astro/types";
import { cn } from "~/lib/utils";

interface Props extends HTMLAttributes<"li"> {
  class?: string;
  value?: string;
}

const { class: className = "", value, ...rest } = Astro.props as Props;
---

<li
  {...rest}
  data-slot="navigation-menu-item"
  data-value={value}
  class={cn("relative", className)}
>
  <slot />
</li>
