---
import "@/styles/global.css";
import HeaderComponent from "~/components/HeaderComponent.astro";
import FooterComponent from "~/components/FooterComponent.astro";
import "@/styles/starwind.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <script is:inline src="/srcipts/htmx.min.js"></script>
        <title>Persönliche Website: {title}</title>
    </head>
    <body
        class="bg-[url('/assets/Banner.JPG')] bg-cover bg-center bg-no-repeat"
    >
        <HeaderComponent title={title} />
        <slot />
        <FooterComponent />
    </body>
</html>
